@import "tailwindcss";

@theme {
  --font-primary: Raleway, sans-serif;
  --color-primary: #f4a470;
  --color-secundary: #f6f6ed;
  /* ... */
}
@layer base {
  html {
    font-family: var(--font-primary);
  }
  body {
    background-color: var(--color-secundary);
  }
}
