<table width="100%" cellpadding="0" cellspacing="0">
  <tr><td>
    <p style=>{{message}}</p>

  <div style="padding-top: 10px; padding-bottom: 10px;">
    <p style="font-weight: 700; margin-bottom: 2px;">Nombre: <span style="font-weight: 400;">{{name}}</span></p>
    <p style="font-weight: 700; margin-bottom: 2px;">Correo: <span style="font-weight: 400;">{{email}}</span></p>
    <p style="font-weight: 700; margin-bottom: 2px;">Teléfono: <span style="font-weight: 400;">{{phoneNumber}}</span></p>
  </div>
  </td></tr>
</table>